/* css gehele site*/
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  box-sizing: border-box;
}
h1 {
  font-family: rage;
  font-style: italic;
  color: rgb(248, 238, 238);
  font-size: 100px;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}
.kleurButton {
  background-color: #655546;
}

/* homepagina*/
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
}
.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 6;
  text-align: center;

  color: rgb(248, 238, 238);
}
.imgFrontpage {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .titleMessage {
    display: none;
  }
}
/* Wie zij wij pagina*/

/* hairpagina*/
.backgroundColor1 {
  background-color: #322525;
}
.img {
  width: 100%;
  height: auto;
}
.kleur {
  background-color: #655546;
}
.kleurBlok {
  background-color: #b29c7e;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* MakeUppagina*/
.backgroundColor2 {
  background-color: #b29c7e;
}

/* ColorAndStylepagina*/

/* Gallerijpagina*/

/* Prijslijstpagina*/

/*Contactpagina*/
/*probeersel*/
.my-flex-container {
  border: 2px solid #655546;
}
.my-flex-container-column {
  border: 2px solid #b29c7e;
}
.my-flex-item {
  background-color: #b29c7e;
}
.my-flex-item2 {
  background-color: #b29c7e;
}
.navbar-brand {
  font-family: rage;
  font-style: italic;
  font-size: 40px;
}
.navbar {
  width: 100%;
  background-color: #655546 !important;
}
.fixedNav #navigation {
  position: fixed;
  z-index: 6;
  top: 0;
}
