/* css gehele site*/
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  box-sizing: border-box;
}
h1 {
  font-family: boucherie-block, sans-serif;
  font-weight: 700;
  font-style: normal;  
  font-size: 100px;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}
.kleurHeader1{
  color: #b1a485;
}
.kleurHeader2{
   color: #322525;
}
.kleurParagraafDonker{
   color: #322525;
}
p{
  font-family: charcuterie-block, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;

}
.kleurButton {
  background-color: #655546;
}
.schaduw{
  border-radius: 6px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.4);
}

/* homepagina*/
.navbar-brand {
  font-family: rage;
  font-style: italic;
  font-size: 50px;
}
.navbar {
  width: 100%;
  background-color: #655546 !important;
}
.fixedNav #navigation {
  position: fixed;
  z-index: 6;
  top: 0;
}
.nav-link{
  font-family: charcuterie-block, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 6;
  text-align: center;
  color: rgb(248, 238, 238);
}
.imgFrontpage {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .titleMessage {
    display: none;
  }
  h1{
    font-size: 60px;
  }  
}
.backgroundColor1 {
  background-color: #322525;
}
.backgroundColor2 {
  background-color: #b29c7e;
}
.img {
  width: 100%;
  height: auto;
}
.kleur {
  background-color: #655546;
}
.kleurBlok {
  background-color: #b29c7e;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
/*Gallerij*/
.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}
.tz-gallery {
  padding: 40px;
}
.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.tz-gallery img {
  border-radius: 4px;
}
.baguetteBox-button {
  background-color: transparent !important;
}
@media(max-width: 768px) {
  body {
      padding: 0;
  }
  .container.gallery-container {
      border-radius: 0;
  }
}

/* Wie zij wij pagina*/
 .img .imgWieZijnWij{
   height: 70%;
}
/* Prijslijstpagina*/
.line
{
  position: relative;
  background-color: #ab8c5c;
  height:2px;
  width:100%;
}
.omlijsting{
  background-color: #464544;
  border-radius: 10px;
 
  width: auto;
  height: auto;
  margin: 5% 20% 0 20%;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
 .prijs 
{
  color: #b1a485;
}
.paragraafPrijsLijst{
  color: #b1a485; 
}
.h2Prijslijst
{
  color: #b1a485;
  font-family: boucherie-block, sans-serif;
  font-weight: 700;
  font-style: normal; 
}
.h3Prijslijst
{
  color: #736c5c;
  font-family: boucherie-block, sans-serif;
  font-weight: 400;
  font-style: normal;  
}
/*Contactpagina*/
.invulvak
{       
    font-family: boucherie-block, sans-serif;
    font-weight: 400;
    font-style: normal;   
    font-size: 1rem;
    line-height: 1.5;
    color: #322525;
    text-align: center;
    white-space: nowrap;
    background-color:  #b29c7e;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.btn{
  width: 200px;
}
.contactDiv
{
    display: -ms-flexbox;
    display: flex;
}
td
{ font-family: boucherie-block, sans-serif;
  font-weight: 400;
  font-size: 17px;
  font-style: normal;  
    margin-right: 20px;
}

.centerDiv
{
    width: 80%;
    align-content: center;
}
.Adresgegevens
{
    padding-top: 100px;
    font-size: 20px;
    font-weight: bold;
    background-color: #645444;
}
.telefoonnummer
{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #645444;
}
/*GoogleMaps*/
#four{
  width: auto;
  height: 300px;
}
.footer{
 height: 100px;
 width: 100%;
 background-color: #655546 !important;
}
.social {
  background:#655546;
  color: #322525;
  padding: 20px;
  font-size: 10px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;  
}
.hover:hover{
  color :#322525;
}


